/* Client-side stylesheet for pages and components (App.css)*/

button {
  background-color: #ffd7d7;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 0.5em 1em;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #fd2d01;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

form label {
  font-weight: bold;
}

footer {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #ffd7d7;
  background-color: #fd2d01;
}

h1 {
  font-size: 50px;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  background-color: #ffd7d7;
}

h2 {
  font-size: 30px;
}

.header-container img {
  height: 100px;
}

main {
  text-align: center;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  background-color: #ffffff;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-links li {
  padding: 10px;
}

.nav-links a {
  text-decoration: none;
  color: #fd2d01;
  font-size: 14px;
}

p {
  font-size: 14px;
}

.post-details { 
  margin-bottom: 20px;
}

/* Media Query for Mobile Phones */
@media (max-width: 767px) {
  .form-group {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 20px;
  }

  .header-container img {
    height: 80px;
  }

  .nav-links {
    justify-content: center;
  }

  .nav-links li {
    padding: 10px;
  }
}
